<!-- Week 9 - Extra Exercises Solutions - Question 2 - search-songs-form.ejs -->
<!-- --------------------------------------------------------------------------->

<!DOCTYPE html>
<head>
    <title>Lyrics Search</title>
</head>
<body>
    <h3>Search for Lyrics</h3>

    <form action="/search-songs" method="post">
        Select an Artist:
        <select name="artist" id="artist">
            <option value="">--Select an Artist--</option>
            <option value="The Beatles" <%= selectedArtist === "The Beatles" ? "selected" : "" %>>The Beatles</option>
            <option value="Eagles" <%= selectedArtist === "Eagles" ? "selected" : "" %>>Eagles</option>
            <option value="Leonard Cohen" <%= selectedArtist === "Leonard Cohen" ? "selected" : "" %>>Leonard Cohen</option>
            <option value="Michael Jackson" <%= selectedArtist === "Michael Jackson" ? "selected" : "" %>>Michael Jackson</option>
            <option value="Taylor Swift" <%= selectedArtist === "Taylor Swift" ? "selected" : "" %>>Taylor Swift</option>
        </select>
        <br><br>
        <button type="submit">Search</button>
    </form>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <% if (songs) { %>
        <h4>Songs by "<%= selectedArtist %>":</h4>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Lyrics</th>
            </tr>
            <% songs.forEach(song => { %>
                <tr>
                    <td><%= song.title %></td>
                    <td><%= song.lyrics %></td>
                </tr>
            <% }); %>
        </table>
    <% } %>
    
</body>
</html>